h1  {
    color: black;
    text-align: center;
}

.carousel {
    max-width: 600px;
    margin:auto
}

.carouselImages {
    min-width: 600px;
    max-height:400px;
    max-width: 600px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body    {
    background-color: dimgrey;
}

p {
    color: black;
}
